
@{
    ViewBag.Title = "Создать Пост";
    Layout =ViewData["Layout"].ToString();
}
@model MvcBlog.Models.PostModel

<div class="row">
    <div class="col-sm-3">

    </div>
    <div class="col-sm-6">
        
        @using (Html.BeginForm("AddPost", "Post", FormMethod.Post))
        {
            <div class="form-group text-center">
                <label style="margin-top: 5px">Заголовок:</label>
                <input type="text" name="title" id="title">
                @Html.ValidationMessageFor(m => m.Title, "", new {@class = "text-danger"})
            </div>
            <div class="form-group text-center">
                <label for="content">Содержание:</label>
                <textarea class="form-control" rows="5" id="content" name="content"> </textarea>
                @Html.ValidationMessageFor(m => m.Content, "", new {@class = "text-danger"})
            </div>
            <div class="form-group text-center">
                <button class="btn btn-lg text-center" type="submit">Запостить!</button>
            </div>
        }
    </div>
    <div class="col-sm-3">

    </div>
</div>
